@use '../abstracts/mixins' as *;

.c-app-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;

  &__secondary {
    margin: 20px 0;
    @include breakpoint-at-least(medium) {
      width: 50%;
    }
  }
}
