@use '../abstracts/' as *;

.c-link {
  color: var(--color-text-primary);

  &:hover {
    text-decoration: none;
  }

  &:focus {
    outline: 1px solid var(--color-link-border);
    outline-offset: 2px;
  }

  &--download {
    @extend .c-link;
    border-radius: 10px;
    font-size: 1.25rem;
    margin: auto;
    padding: 0.75rem 1rem;

    &:focus,
    &:hover {
      border: 1px solid var(--color-border-primary);
    }

    @include breakpoint-at-least(small) {
      margin: 0 0 0 25px;
    }
  }

  &--image {
    @extend .c-link;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &--skip {
    @extend .c-link;

    &:hover,
    &:focus {
      border-bottom: 1px solid var(--color-border-primary);
    }
  }

  &__image {
    height: 32px;
    width: 32px;
  }
}
