@use '../abstracts/' as *;

/* dark primary: 200 tonal range */
/* dark primary-variant: 500 tonal range */
/* dark secondary: 50-200 tonal range */
/* dark secondary-variant: 50-200 tonal range */

$dark: (
  color-bg-base: branded-dark-surface($earth, 200, 00dp),
  color-bg-card: branded-dark-surface($earth, 200, 04dp),
  color-bg-header: branded-dark-surface($earth, 200, 01dp),
  color-border-contained-button: color($earth, 200),
  color-border-card: color($earth, 400),
  color-border-header: color($earth, 500),
  color-border-primary: color($neutral, 50),
  color-border-switch: color($neutral, 50, 0.5),
  color-button-contained: color($earth, 200),
  color-button-contained-focus: color($earth, 50),
  color-button-outline: color($primary, 400, 0.4),
  color-button-outline-focus: color($primary, 400),
  color-button-text: color($neutral, 75),
  color-button-text-border: color($neutral, 50, 0.4),
  color-link-border: color($neutral, 50, 0.6),
  color-link-unvisited: rgb(153, 153, 255),
  color-link-visited: rgb(204, 128, 255),
  color-outline-focus-primary: color($neutral, 50, 0.6),
  color-text-inverted: color($neutral, 850),
  color-text-primary: color($neutral, 75),
  color-text-primary-disabled: color($neutral, 75, $disabled),
);
