@use '../abstracts/' as *;

/* dark primary: 200 tonal range */
/* dark primary-variant: 500 tonal range */
/* dark secondary: 50-200 tonal range */
/* dark secondary-variant: 50-200 tonal range */

$dark: (
  color-bg-accessibility-bar: branded-dark-surface($primary, 200, 04dp),
  color-bg-base: branded-dark-surface($primary, 200, 00dp),
  color-bg-checkbox-hover: color($neutral, 700),
  color-bg-header: branded-dark-surface($primary, 200, 04dp),
  color-bg-input: color($dark-surface, 01dp),
  color-border-input: color($neutral, 50, 0.6),
  color-border-input-focus: color($neutral, 50),
  color-border-invalid: rgb(221, 119, 119),
  color-border-legend: color($neutral, 100, 0.6),
  color-border-primary: color($neutral, 50),
  color-border-separator: color($neutral, 50, 0.2),
  color-border-switch: color($neutral, 50, 0.5),
  color-button-contained: color($primary, 200),
  color-button-contained-focus: color($primary, 100),
  color-button-delete: rgb(255, 117, 117),
  color-button-delete-border: rgba(255, 117, 117, 0.6),
  color-button-outline: color($primary, 400, 0.4),
  color-button-outline-focus: color($primary, 400),
  color-button-text: color($neutral, 75),
  color-button-text-border: color($neutral, 50, 0.4),
  // Change calendar icon in Chrome
  color-date-input-icon: invert(100%),
  color-form-required: rgb(255, 170, 184),
  color-link-border: color($neutral, 50, 0.6),
  color-link-unvisited: rgb(153, 153, 255),
  color-link-visited: rgb(204, 128, 255),
  color-message-error: rgb(223, 154, 167),
  color-message-info: rgb(144, 202, 249),
  color-message-success: rgb(165, 214, 167),
  color-message-warning: rgb(255, 245, 157),
  color-outline-focus-primary: color($neutral, 50, 0.6),
  color-text-inverted: color($neutral, 850),
  color-text-msg-error: color($neutral, 900),
  color-text-msg-info: color($neutral, 900),
  color-text-msg-success: color($neutral, 900),
  color-text-msg-warning: color($neutral, 900),
  color-text-primary: color($neutral, 75),
  color-text-primary-disabled: color($neutral, 75, $disabled),
);
