@use '../abstracts/' as *;

/* light primary: 500 tonal range */
/* light primary-variant: +/- 200 of primary */
/* light secondary: 500 tonal range */
/* light secondary-variant: +/- 200 of primary */

$light: (
  color-bg-accessibility-bar: color($neutral, 100),
  color-bg-base: color($neutral, 75),
  color-bg-checkbox-hover: color($neutral, 300),
  color-bg-header: color($neutral, 100),
  color-bg-input: color($neutral, 50),
  color-border-input: color($neutral, 700, 0.6),
  color-border-input-focus: color($neutral, 900),
  color-border-invalid: rgb(255, 32, 32),
  color-border-legend: color($neutral, 800, 0.6),
  color-border-primary: color($neutral, 900),
  color-border-separator: color($neutral, 700, 0.5),
  color-border-switch: color($neutral, 900, 0.5),
  color-button-contained: color($primary, 800),
  color-button-contained-focus: color($primary, 400),
  color-button-delete: rgb(158, 0, 0),
  color-button-delete-border: rgba(126, 0, 0, 0.6),
  color-button-outline: color($primary, 900, 0.3),
  color-button-outline-focus: color($primary, 900),
  color-button-text: color($neutral, 850),
  color-button-text-border: color($neutral, 900, 0.6),
  // Change calendar icon in Chrome
  color-date-input-icon: invert(0%),
  color-form-required: rgb(150, 0, 0),
  color-link-border: color($neutral, 900, 0.6),
  color-link-unvisited: rgb(20, 20, 255),
  color-link-visited: rgb(116, 0, 194),
  color-message-error: rgb(128, 0, 0),
  color-message-info: rgb(71, 167, 245),
  color-message-success: rgb(76, 175, 80),
  color-message-warning: rgb(255, 236, 61),
  color-outline-focus-primary: color($neutral, 900, 0.6),
  color-text-inverted: color($neutral, 75),
  color-text-msg-error: color($neutral, 50),
  color-text-msg-info: color($neutral, 900),
  color-text-msg-success: color($neutral, 900),
  color-text-msg-warning: color($neutral, 800),
  color-text-primary: color($neutral, 850),
  color-text-primary-disabled: color($neutral, 850, $disabled),
);
