@use '../abstracts/' as *;

/* light primary: 500 tonal range */
/* light primary-variant: +/- 200 of primary */
/* light secondary: 500 tonal range */
/* light secondary-variant: +/- 200 of primary */

$light: (
  color-bg-base: color($earth, 50),
  color-bg-card: color($earth, 200),
  color-bg-header: color($earth, 400),
  color-border-contained-button: color($earth, 900),
  color-border-card: color($earth, 800),
  color-border-header: color($earth, 900),
  color-border-primary: color($neutral, 900),
  color-border-switch: color($neutral, 900, 0.5),
  color-button-contained: color($earth, 800),
  color-button-contained-focus: color($earth, 500),
  color-button-outline: color($primary, 900, 0.3),
  color-button-outline-focus: color($primary, 900),
  color-button-text: color($neutral, 850),
  color-button-text-border: color($neutral, 900, 0.6),
  color-link-border: color($neutral, 900, 0.6),
  color-link-unvisited: rgb(20, 20, 255),
  color-link-visited: rgb(116, 0, 194),
  color-outline-focus-primary: color($neutral, 900, 0.6),
  color-text-inverted: color($neutral, 75),
  color-text-primary: color($neutral, 850),
  color-text-primary-disabled: color($neutral, 850, $disabled),
);
