.l-header {
  background-color: var(--color-bg-header);
  padding: 10px;
}

.c-accessibility-container {
  background-color: var(--color-bg-accessibility-bar);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
